.state {
        fill:#d3d3d3;
        stroke:#fff;
        stroke-width:0.75;
        stroke-opacity:1;
}
#FL, #TX, #NC, #TN, #VA {
  fill:#FF9999;
}
#WA, #DE, #WI, #WV, #HI, #WY, #NH, #NJ, #NM, #ND, #NE, #NY, #PA, #CA, #NV, #CO, #AK, #VT, #IL, #IN, #IA, #OK, #AZ, #ID, #CT, #ME, #MD, #MA, #OH, #UT, #MO, #MN, #MI, #RI, #KS, #MT, #KY, #OR, #SD {
  fill:#9999FF;
}
#LA, #AL, #AR, #GA {
  fill:#FF0000;
}
#SC {
  fill:#A200FF;
}
#MS {
  fill:#0000FF;
}